{% extends "base.html" %}

{% block title %}{{ user_name }}的详细信息{% endblock %}

{% block special_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_info_management.css') }}">
{% endblock %}

{% block content %}
    <!-- 呈现详细信息的表单 -->
    <div class="card">
        <!-- 用户的详细信息 -->
        <form method="post" action="/auth/detail_info/">
            <!-- 分条输出该用户的详细信息 -->
            <div class="form-group">
                <label for="user_name">姓名：</label>
                <input type="text" id="user_name" name="user_name" value="{{ user_info.user_name }}" {{if_readonly}}>
            </div>
            <div class="form-group">
                <label for="user_id">学号：</label>
                <input type="text" id="user_id" name="user_id" value="{{ user_info.user_id }}" {{if_readonly}}>
            </div>
            <div class="form-group">
                <label for="telephone">手机号：</label>
                <input type="text" id="telephone" name="telephone" value="{{ user_info.telephone }}" {{if_readonly}}>
            </div>
            <div class="form-group">
                <label for="email">邮箱：</label>
                <input type="text" id="email" name="email" value="{{ user_info.email }}" {{if_readonly}}>
            </div>
            <p>身份：{{ user_top_role }}</p>
            <p>注册时间：{{ create_time.strftime('%Y年%m月%d日 %H:%M:%S') }}</p>
            {% if status == 1 %}
                <p>账户状态：已激活</p>
            {% elif status == 0 %}
                <p>账户状态：冻结</p>
            {% endif %}

            <!-- 按钮 -->
            <div class="form-group">
                {% if if_readonly == 'readonly' %}
                    <label>现在输入框处于只读状态：</label>
                    <button class="btn btn-primary" name="method" value="unlock">解锁</button>
                {% else %}
                    <label>现在输入框处于可编辑状态：</label>
                    <button class="btn btn-primary" name="method" value="lock">锁定</button>
                {% endif %}
                <button class="btn btn-primary" name="method" value="update">更新</button>
                <br>
                <button class="btn btn-warning" name="method" value="change_password">修改密码</button>
                <br>
                <button class="btn btn-warning" name="method" value="logout">退出登录</button>
                <br>
                <button class="btn btn-danger" name="method" value="delete">注销账户</button>
            </div>
        </form>
    </div>
{% endblock %}