{% extends "base.html" %}

{% block title %}通知管理系统{% endblock %}

{% block special_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_info_management.css') }}">
{% endblock %}

{% block content %}
    <div class="container">

        <!-- 使用说明 -->
        <div class="instructions">
            <h3>使用说明</h3>
            <p>在这里，你可以查看和管理通知公告。</p>
        </div>

        <!-- 服务列表 -->
        <div class="card" id="result">
            <h2>通知公告管理</h2>

            <!-- 发布通知 -->
            <div class="service service-card">
                <a href="/notices/new_notices/">
                    <div class="service-icon">
                        <img src="{{ url_for('static', filename='images/notices/new_notices.png') }}" alt="图标"
                             width="60" height="60">
                    </div>
                    <h3>发布通知</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}