<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>智创2502班·学生信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_info_management.css') }}">
</head>
<body>
    <div class="container">
        <!-- 导航页面 -->
        <div class="navbar">
            <div class="nav-brand">信息管理系统</div>
            <ul class="nav-links">
                <li><a href="/home/">首页</a></li>
            </ul>
        </div>

        <h1>智创2502班·学生信息</h1>

        <!-- 使用说明板块 -->
        <div class="instructions">
            <h3>使用说明</h3>
            <p>1. 输入姓名/学号/（空）</p>
            <p>2. 在复选框中选择需要查询的字段</p>
            <p>3. 点击"查询"按钮即可查询需要的信息</p>
            <p>提示：如需获取最新数据，不能仅仅刷新页面，而是需要再次查询</p>
        </div>

        <!-- 表单板块 -->
        <div class="card">
            <form method="post" action="/info_management/">
                <h2>查询信息</h2>
                <div class="form-group">
                    <!-- 输入姓名 -->
                    <label for="name">学生姓名：</label>
                    <input type="text" id="name" name="name" value="{{ name }}" placeholder="请输入学生姓名">
                </div>
                <div class="form-group">
                    <!-- 输入学号 -->
                    <label for="student_id">学号：</label>
                    <input type="number" id="student_id" name="student_id" value="{{ student_id }}" placeholder="请输入11位整数学号">
                </div>
                <div class="form-group">
                    <!-- 选择需要特异性查询的字段，并输入需要查询的值 -->
                    <h4>条件查询</h4>
                    <select id="filter_field" name="filter_field">
                        {% for row in fields %}
                            <option value={{row.0}} {{row.3}}>{{row.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="filter_field_value"
                           name="filter_field_value" value="{{ filter_field_value }}"
                           placeholder="请输入想查询的值">
                </div>

                <hr>

                <div class="form-group">
                    <h3>选择要展示的字段：</h3>
                    <!-- 输出该表中所有字段，并默认标记某些字段 -->
                    {% for row in fields %}
                        <label class="checkbox-container">{{row.1}}
                            {% if row.0 == 'name' or row.0 == 'student_id' %}
                                <input type="checkbox" name="field_to_show" value={{row.0}} {{row.2}}
                                       onclick="return false;">
                            {% else %}
                                <input type="checkbox" name="field_to_show" value={{row.0}} {{row.2}}>
                            {% endif %}
                            <span class="checkmark"></span>
                        </label>
                    {% endfor %}
                </div>
                <!-- 查询按钮 -->
                <div class="form-group">
                    <button class="btn btn-primary" name="method" value="select">查询</button>
                </div>

                <hr>

                <div class="form-group">
                    <h3>导入/导出excel</h3>
                    <button class="btn btn-primary" name="method" value="import">导入</button>
                    <button class="btn btn-primary" name="method" value="export">导出</button>
                </div>
            </form>
        </div>

        <!-- 输出结果板块 -->
        {% if table %}
            <div class="card">
                <h2>查询结果</h2>
                <form method="post" action="/info_management/">

                    <div class="form-group">
                        <button class="btn btn-primary" name="method" value="insert_info">添加一条信息</button>
                        <button class="btn btn-primary" name="method" value="insert_field">添加新的字段</button>
                        <button class="btn btn-danger" name="method" value="delete_field">选择字段删除</button>
                        <button class="btn btn-danger" name="method" value="delete">删除选中项</button>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                {% for f in field_selected %}
                                    <th>{{ f }}</th>
                                {% endfor %}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row_value in table %}
                                <tr>
                                    <td>
                                        <label class="checkbox-container">
                                            <input type="checkbox" name="info_to_delete" value={{row_value.0}}>
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                    {% for value in row_value %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                    <td>
                                        <button class="btn btn-primary" name="method"
                                                value="detail_{{row_value.0}}">详情</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p id="pages">第{{ page_current }}/{{ page_number }}页</p>
                    <button class="btn btn-primary" name="method" value="last_page">上一页</button>
                    <button class="btn btn-primary" name="method" value="next_page">下一页</button>
                </form>

            </div>
        {% endif %}
    </div>
</body>
</html>
