<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>智创2502班·学生信息</title>
    <link rel="stylesheet" type="text/css" href="../static/style_0.css">
</head>
<body>
    <div class="container">
<!--        <div class="navbar">-->
<!--            <div class="nav-brand">信息管理系统</div>-->
<!--            <ul class="nav-links">-->
<!--                <li><a href="#">首页</a></li>-->
<!--            </ul>-->
<!--        </div>-->

        <h1>智创2502班·学生信息</h1>

        <div class="instructions">
            <h3>使用说明</h3>
            <p>1. 输入姓名/学号/（空）</p>
            <p>2. 在复选框中选择需要查询的字段</p>
            <p>3. 点击"查询"按钮即可查询需要的信息</p>
        </div>

        <div class="card">
            <form method="post" action="/">
                <h2>查询信息</h2>
                <div class="form-group">
                    <!-- 输入姓名 -->
                    <label for="name">学生姓名：</label>
                    <input type="text" id="name" name="name" placeholder="请输入学生姓名">
                </div>
                <div class="form-group">
                    <!-- 输入学号 -->
                    <label for="student_id">学号：</label>
                    <input type="number" id="student_id" name="student_id" placeholder="请输入11位整数学号">
                </div>
                <div class="form-group">
                    <!-- 选择需要特异性查询的字段，并输入需要查询的值 -->
                    <h4>条件查询</h4>
                    <select id="filed_to_select" name="filed_to_select">
                        {% for row in fields %}
                            <option value={{row.0}} {{row.3}}>{{row.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="filed_to_select_value"
                           name="filed_to_select_value" value="{{ filed_to_select_value }}">
                </div>
                <hr>
                <div class="form-group">
                    <h3>选择要展示的字段：</h3>
                    <!-- 输出该表中所有字段，并默认标记某些字段 -->
                    {% for row in fields %}
                        <label class="checkbox-container">{{row.1}}
                            <input type="checkbox" name="field_to_show" value={{row.0}} {{row.2}}>
                            <span class="checkmark"></span>
                        </label>
                    {% endfor %}
<!--                    <div class="form-group">-->
<!--                        <label class="checkbox-container">其他：-->
<!--                            <input type="checkbox" name="field" value="other">-->
<!--                            <span class="checkmark"></span>-->
<!--                        </label>-->
<!--                        <input type="text" name="other_field" placeholder="请输入新的字段名">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="field_value">值：</label>-->
<!--                        <input type="text" id="field_value" name="field_value" placeholder="请输入需要更新的值">-->
<!--                    </div>-->
                </div>
                <div class="form-group">
<!--                    <button class="btn btn-primary" name="method" value="update">更新</button>-->
                    <button class="btn btn-primary" name="method" value="select">查询</button>
                </div>
            </form>
        </div>

        {% if table %}
            <div class="card">
                <h2>查询结果</h2>
                <table>
                    <thead>
                        <tr>
                            {% for f in field_select %}
                                <th>{{f}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row_value in table %}
                            <tr>
                                {% for value in row_value %}
                                    <td>{{value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>
