{% extends "base.html" %}

{% block title %}学习笔记{% endblock %}

{% block special_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style_info_management.css') }}">
{% endblock %}

{% block content %}
    <div class="container">

        <h1>学习笔记</h1>

        <!-- 使用说明板块 -->
        <div class="instructions">
            <h3>使用说明</h3>
            <p>以下陈列了不同分类的学习笔记，你可以点击进入查看</p>
            <!-- <p>如果你有好的笔记资源，欢迎提交分享！</p> -->
        </div>

        {% for books in all_books %}
            <div class="card">`
                <h2>{{ books.0 }}</h2>

                <div class="services">
                    {% for book in books.1 %}
                        <div class="service-card">
                            <a href="/learning_space/study_notes/{{ book.slug }}/introduction/">
                                <div class="service-icon">
                                    <img src="/static/images/learning_space/study_notes/{{ book.slug }}.png" alt="图标"
                                        width="60" height="60">
                                </div>
                                <h3>{{ book.title }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}